*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}
body{
    font-size: 16px;
}

.header{
    height: 80px;
    width: 100%;

}
.header .header-c{
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;

}
.header .header-c .header-logo{
    height: 80px;
    background: url(../img/top-logo.png) no-repeat left;
  
}

.header .header-c .header-nav{
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
}
.header .header-c .header-nav li{
    margin-left:80px;
    float: left;
}
.header .header-c .header-nav li a{
    display: block;
    line-height: 40px;
    height: 40px;
    color: #818181;
    text-align: center;
    margin-top:20px;

}
.header .header-c .header-nav li.active a{
    color: aqua;
    border-bottom: 2px solid aqua;
}
.header .header-c .header-nav li a:hover{
    color: aqua;
}

.header .header-c .header-nav .sub-item{
    display: none;
    height: 40px;
    background-color: antiquewhite;
}
.header .header-c .header-nav .sub-item a{
    display: block;
    height: 20px;
    line-height: 20px;
    font-size:14px;
    margin-top: 0;
    color: #737375;
}
.header .header-c .header-nav .about-item:hover .sub-item{
    display: block;
}
.header .header-c .header-nav .about-item:hover .sub-item a{
    border-bottom: none;
}
.header .header-c .nav .about-item .sub-item a:hover{
	color: #04e4f8;
}

.container{
    width: 100%;
    /* background-color: aliceblue; */
}
.container .container-c{
    height: 593px;
    width: 1200px;
    /* background-color: aquamarine; */
    margin: 100px auto;
    margin-bottom: 0;
}

.container .container-c img.imgs{
    margin-left:0;
}
.container .container-c .banner-1{
    width: 287px;
    height: 493px;
    float: left;
    margin-left: 17px;
    position: relative;
}
.container .container-c .banner-1.banner-2{
    margin-left: 0;
}

.container .container-c .banner-1 .common-size{
    font-size: 20px;
    font-weight: bold;
    color: #626262;
    /* display: block; */
    position: absolute;
    top: 122px;
    left: 33px;
    

}
.container .container-c .banner-1 .common-arr{
    color: #736f73;
    /* display: block; */
    position: absolute;
    top:188px;
    left: 33px;
}
.container .container-c .banner-1 .common-arr-1{
    color: #736f73;
    position: absolute;
    top:214px;
    left: 33px;
}

.footer{
    width: 100%;
}
.footer .footer-c{
    width: 1200px;
    height: 324px;
    margin:0 auto;
    background-color: #f2f2f2;
    position: relative;
}
.footer .footer-c .ml-title{
    font-size:  18px;
    color: #292828;
    position: absolute;
    top: 60px;
    left: 0;
    /* margin-top: 60px; */
}
.footer .footer-c .footer-message{
    position: absolute;
    top: 115px;
    left: 0;
}

.footer .footer-c .footer-message li{
    color: #747474;
    font-size: 14px;
    line-height: 35px;
}
.footer .footer-c .qq,
.footer .footer-c .wx,
.footer .footer-c .wb{
    display: block;
	width: 17px;
	height: 16px;
	float: left;
    margin-left: 21px;
    margin-top: 265px;
}
.footer .footer-c .qq{
    margin-left: 5px;
}


.footer .footer-c .qq{
    background: url(../img/qq.png) no-repeat center;
}
.footer .footer-c .wx{
    background: url(../img/wx.png) no-repeat center;
}
.footer .footer-c .wb{
    background: url(../img/wb.png) no-repeat center;
}
.footer .footer-c .copy-right{
    font-size: 14px;
	color: #747474;
	line-height: 34px;
	height: 34px;
	position: absolute;
	top: 300px;
}

.footer .footer-c .personal{
    width: 495px;
    height: 324px;
    /* background-color:darkcyan; */
    position: absolute;
    right: 0;
    
}
.footer .footer-c .personal .commenty{
    width: 135px;
	height: 67px;
	margin-left: 45px;
	margin-top: 55px;
	color: #716f6f;
	font-size: 14px;
	line-height: 20px;
	float: left;
}
.footer .footer-c .personal .commenty.commenty-2{
    margin-left: 0;
}
.footer .footer-c  .personal .commenty.commenty-1{
	/* float: left; */
    /* margin-left: 105px; */
    margin-left: 0;
}
.footer .footer-c .personal .commenty .input-wire{
    outline: none;
    width: 135px;
	margin-top: 35px; 
	border: none;
	border-bottom: 1px solid #716f6f;
	display: block;
	float: left;
	background-color: #f2f2f2;
}
.footer .footer-c .personal .commenty .input-wire.wire1{
	width:495px;
}
.footer .footer-c .personal .btn-do{
    width: 60px;
	height: 24px;
	font-size: 14px;
	color: #e0dcdc;
	background-color: #656565;
	position: absolute;
	top: 300px;
	right: 433px;
}









