<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   

    <div id="app">
            <div>
                <label>:Id
                        <!-- 值需要绑定到data里 双向数据绑定 -->
                    <input type="text" v-model="id">
                </label>
                <label>:name:
                    <input type="text" v-model="name">
                </label>
                 <input  @click="add" type="button" value="添加">
            </div>
                <!-- 每次for循环的时候指定一个key 等于每次循环唯一一个标识符-->
                <!-- key能保证每次循环遍历后,每次遍历的数据的唯一性 -->
                <!-- 让data中的数据与页面中的数据强制绑定 关联起来  -->
                <!-- 在组件中,或者在一些特殊情况中使用v-for循环的时候,,如果v-for有问题,必须在使用v-for的同时，
                    指定唯一字符串 --> <!-- 字符串/数字类型 -->
                
            <!-- 注意事项一:v-for循环的时候,key属性只能使用number和string -->
            <!-- key在使用的时候,必须使用v-bind属性绑定的形式,指定key的值 -->

        <p v-for="item in list " :key="item.id" >
            <input type="checkbox">
            {{item.id}}--{{item.name}}
        </p>
    </div>

    <script src="lib//vue.js"></script>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                id:'',
                name:'',
                list:[
                    {
                        id : 1,
                        name: '李斯'
                    },
                    {
                        id  : 2,
                        name: '嬴政'
                    },
                    {
                        id  : 3,
                        name:'项羽'
                    },
                    {
                        id  : 4,
                        name: '刘邦'
                    },
                    {
                        id  : 5,
                        name: '韩飞'
                    }
                ]
            },
            methods: {
                add(){
                    // 添加方法
                    this.list.push({ id : this.id, name : this.name});
                }
            },
        })
    </script>
</body>
</html>