		*{
			padding: 0;
			margin:0;
		}

		ul,ol{
			list-style: none;
		}

		a{
			text-decoration: none;
		}

		.top{
			width: 300px;
			height: 50px;
			margin: 10px 450px;
			background: url(img/logo-201305-b.png) no-repeat left;
			/* background-size:170px; */
			cursor: pointer;
		}


		.top .top-lg{
			position: absolute;
			left:630px;
			top:20px;
			width: 110px;
			height: 50px;
			background: url(img/l-icon.png) no-repeat right;
				
		}

		.top .tips-list1{
			position: absolute;
			right: 460px;
			top: 52px;
			width: 140px;
			height: 18px;
			background: url(img/q-icon.png) no-repeat left;
			font-size: 12px; 
			text-indent: 2em;

		}

		.top .tips-list2 a{
            color: #999999;
            
		}

		.top .tips-list2:hover a{
			text-decoration: underline;
			color: red;
		}

		.header{
			height: 38px;
			width: 100%;
			background-color: #fff8f0;
		}
		
		.header .header-a-a{
			color:#999999;
			background: url(img/icon-tips.png) no-repeat 555px;
            /* background-size: 16px; */
            font-size: 12px;
			text-align: center;
			line-height: 38px;
		}

		.header .header-a-a a{
			color:black;
		}

		.header .header-a-a:hover a{

			text-decoration: underline;

		}

		.banner{
			height: 475px;
			width: 100%;
			background: #E93854 url(img/banner1.png) no-repeat center;
			overflow: hidden;
		}

		.banner .banner-list{
			width: 341px;
			height: 430px;
			background-color: white;
			margin-top: 10px;
			margin-left: 1100px;
		}

		.banner .banner-list .banner-list-list1{
			width: 100%;
			height: 40px;
			background-color: #FFF8F0;
			font-size: 12px;
			line-height: 40px;
			text-align: center;
			color: #999999;
			background: url(img/icon-tips.png) no-repeat 15px;
		}

		.banner .banner-list .banner-list-list2{
			width: 100%;
			height: 55px;
			
		}


		.banner .banner-list .banner-list-list2 a{
			width: 170px;
			height: 55px;
			line-height: 55px;
			font-size: 18px;
            float: left;
            text-indent: 3em;
		}


		.banner .banner-list .banner-list-list2 .a1{
			color: red;
			font-weight: bolder;
			
		}
		.banner .banner-list .banner-list-list2 .a2{
			color: #666666;
			border-left: 1px solid #F4F4F4;
		}

		.banner .banner-list .banner-list-list2 .a2:hover{
			color: red;
			font-weight: bolder;
		}

		.banner .banner-list .wx{
			position: relative;
			width: 341px;
			height: 165px;
			margin-top:20px;
			background-color: pink;
			background: url(img/show.png) no-repeat center;
		}

		.banner .banner-list .wx .wr{
			position: absolute;
			left: 0;
			top: 10px;
			display: none;
		}

    
        
		.banner .banner-list .wx:hover .wr{
			display: block;
		}

		.banner .banner-list .wx .er{
			position: absolute;
			left: 190px;
			display: none;
		}

		
		.banner .banner-list .wx:hover .er{
			display: block;
		}
		
		.banner .banner-list2{
            width: 341px;
            height: 30px;
			background-color: pink;
			font-size: 12px;
			color: #666;
			display: block;
			line-height: 30px;
			text-align: center;
		}
		
		.banner .banner-list2 .banner-list-list3{
			/* height: 30px; */
			float: left;
			text-indent: 100px;
		}

		.banner .banner-list2 .banner-list-list3 a{
			color: red;
		}

		.banner .banner-list2 .banner-list-list4{
			float: left;
			margin-left: 14px;
		}

		.banner .banner-list3{
			margin:15px auto;
			width: 266px;
			height: 65px;
		}

        .banner .banner-list3 .banner-list-list5,
        .banner .banner-list3 .banner-list-list6,
        .banner .banner-list3 .banner-list-list7{
            float: left;
			/* height: 56px; */
            /* width: 66px; */
            font-size: 12px;
            color: #666666;
            line-height: 56px;
            background-size: 29px;
            
        }

		.banner .banner-list3 .banner-list-list5{
			/* float: left; */
			margin-left: 40px;
			/* height: 56px;
			width: 66px;  */
			background: url(img/1234.png) no-repeat left;
			 
			/* font-size: 12px;
			color: #666666;
			line-height: 56px; */
			text-indent:30px;
		} 

		.banner .banner-list3 .banner-list-list6{
			 /* float: left;
			height: 56px;
			width: 66px;  */
			background:  url(img/12345.png) no-repeat 10px;
			 /* background-size: 29px; */
			/* font-size: 12px;
			color: #666666;
			line-height: 56px;  */
			text-indent:38px;

		}

		.banner .banner-list3 .banner-list-list7{
			float: left;
			height: 56px;
			/* width: 76px;  */
			background:  url(img/123.png) no-repeat 5px;
			/* background-size: 29px; */
			/* font-size: 12px;
			color: #666666;
			line-height: 56px;  */
			text-indent: 32px;

		}

		.banner .banner-list4 {
			margin-top: -15px;
			margin-left: 30px;
			height: 40px;
			width: 310px;
			background-size: 33px;
			font-size: 12px;
			line-height: 40px;
		}

        .banner .banner-list4 .banner-list-list8,
        .banner .banner-list4 .banner-list-list9,
        .banner .banner-list4 .banner-list-list10{
            float: left;
            cursor: pointer;
        }
		.banner .banner-list4 .banner-list-list8{
			/* float: left;
			height:40px;
			width: 60px; */
			background: url(img/123456.png) no-repeat left;
			text-indent: 20px;
			/* cursor: pointer; */

		}

		.banner .banner-list4 .banner-list-list9{
			/* height:40px;
			width: 60px;
			float: left; */
			background: url(img/1234567.png) no-repeat left;
			text-indent: 20px;
			/* cursor: pointer;	 */
		}


		.banner .banner-list4 .banner-list-list10{
			margin-left: 85px;
			height:40px;
			width: 100px; 
			/* float: left;  */
			background:  url(img/12345678.png) no-repeat 15px;
			text-indent: 33px;
			/* cursor: pointer; */

		}

		.banner .banner-list4 .banner-list-list10 a{
			color:#b61d1d;
		}

        .banner .banner-list4 .banner-list-list8:hover a,
        .banner .banner-list4 .banner-list-list9:hover a,
        .banner .banner-list4 .banner-list-list10:hover a{
			text-decoration: underline;

		}

		/* .banner .banner-list4 .banner-list-list9:hover a{
			text-decoration: underline;

		}

		.banner .banner-list4 .banner-list-list10:hover a{
			text-decoration: underline;
		} */

		.footer{
			height: 86px;
			width: 990px;
			margin: 0 auto;
		}

		.footer div{
			float: left;
			height: 100%;
			line-height:43px;
			text-align: center;
			color: #666666;
		}

		.footer .footer-list .footer-list-item{
			float: left;
			font-size: 12px;
			height:43px;
			line-height: 43px;
			text-align: center;
			margin-left: 18px;
			margin-right:18px;
		}
		.footer .footer-list .footer-list-item a{
			color: #666666;
		}

		.footer .footer-list .footer-list-item:hover a{
			text-decoration: underline;

		}

		.footer .footer-list2 {
			height:43px;
			font-size: 12px;
			line-height: 43px;
			text-align: center;
			color: #666666;
		}

