<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>
      p{
          color: red;
      }
  </style>
  <body>
    <h1><%= title %></h1>
    <p>登录失败</p>
  </body>
</html>