*{
    padding: 0;
    margin: 0
}
ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.header{
    position: relative;
    width: 1226px;
    height: 60px;
    background-color:#333333;
    margin:0 auto;
}

.header div{
    float: left;
    font-size:12px;
    line-height:60px;
    color: gray;
    margin-right: 3px;
    margin-left: 3px;
}

.header li{
    float: left;
    font-size:12px;
    line-height:60px;
    margin-right:3px;
    margin-left:3px;
}

.header li a{
    color: gray;  
    /* float: left;
    font-size:12px;
    line-height:60px;
    margin-right:3px;
    margin-left:3px; */
}


.header .header-list2 {
    float: left;
    /* width: 150px; */
    font-size:10px;
    line-height:60px;
    /* margin-right:5px; */
    margin-left: 220px;	
}

.header .header-list3{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    /* line-height: 60px; */
    text-align: center;
}

.header .header-list3 li{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-image: url(img/g1.png);
    background-repeat: no-repeat;
    background-position: 70px center;
    text-indent:5em;
}

.header .header-list3 li a{
    /* float: left; */
    display: block;
    width: 100%;
    height: 100%;
}

.top{
    position: relative;
    width: 1226px;
    height: 95px;
    margin: 0 auto;
    
}
.top .top-logo{
    width: 227px;
    
}
.top .top-nav .top-nav-item,
.top .top-nav,
.top .top-logo,
.top .top-logo .logo1,
.top .top-logo .logo2{
    float: left;
    height: 100%;

}
.top .top-logo .logo1{
    width: 65px;
    background: url(img/logo1.png) no-repeat center;
}

.top .top-logo .logo2{
    width: 162px;
    background: url(img/logo2.gif) no-repeat center ;

}


.top .top-nav .top-nav-item a{
    display: block;
    height: 100%;
    line-height: 95px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
   
}

.nav-item-sub-list{
    display: none;
    position: absolute;
    top: 155px;
	width: 100%;
	height: 220px;
    background-color:#fff;
    border-bottom: 1px solid #e5e55e;
    border-top:  1px solid #C3C3C3;
    z-index: 101;
    
}



.nav-item-sub-list .nav-data-list{
    width: 1226px;
    height: 100%;
    margin: 0 auto;
    /* background-color: ; */
}
.nav-item-sub-list .nav-data-list .pro-item{
    float: left;
    /* 宽度等于六分之一 */
	width: 204px;
	height: 100%;
    text-align: center;
    /* background-color: yellow; */
}

.nav-item-sub-list .pro-item .new{
    /* span是行内元素 须转化成块元素 */
    display: block;
    width: 72px;
	height: 20px;
	border: 1px solid #ff6700;
	font-size: 14px;
	color: #ff6700;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	background-color: #fff;
}

.nav-item-sub-list .pro-item .new.active{
    border: 1px solid #fff;
}

.nav-item-sub-list .nav-data-list .pro-item .img-link{
    display: block;
	width: 203px;
	height: 110px;
	border-right: 1px solid gray;
			/*针对文字 行内元素 行内块 左右居中*/
	/* text-align: center; */
    margin: 8px auto;
    /* background-color: #000; */
}

.nav-item-sub-list .nav-data-list .pro-item .img-link .img{
    height: 100%;
    /* 图片一般只写高都 */
    /* width: 100%; */
}
.nav-item-sub-list li .name,
.nav-item-sub-list li .price{
    text-align: center;
    font-size: 14px;
    line-height: 24px;

}
.nav-item-sub-list li .price{
    color: #ff6700;

}

.nav-item-sub-list.active{
    display: block;
}

/* 两种状态都可以显示内容 */
.nav-item-sub-list:hover{
    display: block;
}



.top .top-nav .top-nav-item a:hover {
    color:orange;
}

.top .search-block{
    position: absolute;
    top: 20px;
    right: 0;
    width: 290px;
    height:45px;
    border: 1px solid #C3C3C3;
    z-index: 999;


} 
.top .search-block .search-input,
.top .search-block .search-btn{
    float: left;
    height: 45px;
}

.top .search-block .search-input{
    width: 235px;
    /* text-indent: 1em; */
    outline: none;
    border: none;
}


.top .search-block .search-btn{
    /* height: 45px; */
    width: 54px;
    border-left:1px solid #C3C3C3; 
    background:  url(img/fdj2.png) no-repeat center;
} 

.top .search-block .search-btn:hover{
    background-color:orange;
    background-image: url(img/fdj.png);
}


.top .search-block .tips{
    position: absolute;
    right:68px;
    top: 12px;
    height:21px;
}
.top .search-block .product-list{ 
    display: none;
    position: absolute;
    left: -1px;
    top:48px;
    width: 235px;
    border: 1px solid orange;
    z-index: 100;
    background-color: #fff;
}

.top .search-block.active .product-list{
    display: block;
}

.top .search-block.active .tips{
    display: none;
}


.top .search-block .product-list li{
    height: 31px;
}
.top .search-block .product-list li:hover{
    background-color :rgba(0,0,0,.2);
    
}
.top .search-block .product-list .p-name,
.top .search-block .product-list .p-stock{
    font-size: 12px;
    line-height: 31px;
    padding-left: 15px;
    
}

.top .search-block .product-list .p-name{
    color: #000;
    
}
.top .search-block .product-list .p-stock{
    position: absolute;
    right: 30px;
    left: auto;
    color: gray;
}


.top .search-block .tips .tip-item{
    font-size: 12px;
    line-height: 21px;
    background-color:#E3E3E3;
    color:gray;
    margin-left: 5px;
    display: inline-block;
}




.banner{
    position: relative;
    /* top:0;
    left: 0; */
    width: 1226px;
    height: 460px;
    background-image: url(img/m1.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
    background-color: pink;
    background-size: cover;
}
/* .banner .sipwer{
    position: absolute;
	left: 0;
	top: 0;
	width: 600%;
	height: 100%;
} */


 .banner .aside-list {
    background-color:#2E465f;
    width: 230px;
    height: 100%;
    overflow: hidden;
 }

 .banner .aside-list .aside{
    /* width: 100%;
    height: 100%; */
    /* background-color:#2E465f; */
    font-size: 14px;
    line-height: 46px;
    margin-top:20px;
} 

.aside-list .aside li{
    background-image: url(img/J1.png) ;
    background-position: 200px center;
     width: 230px;
     height: 44px;
     /* background-color:#2E465f; */
     background-repeat: no-repeat;
 }

 .aside-list .aside li a{
     display: block;
     color: white;
     width: 230px;
     padding-left: 20px;	
 }


.banner .arr{
    position: absolute;
    top:50%;
    margin-top:-35px;
    display: block;
    width: 40px;
    height:70px;
    line-height: 70px;
    font-size: 28px;
    text-align: center;
    color: gray;
}

.banner .arr:hover{
    /* color: gray; */
    background-color:rgba(0,0,0,.5);
}

.banner .arr.arr-right{
    right: 0;

}
.banner .arr.arr-left{
    left:230px;
}
.dott{
    position: absolute;
    right: 70px;
    bottom: 30px;
    /* height: 10px; */
}

.dott li{
    float: left;
    height: 6px;
    width: 6px;
    margin-right:20px;
    border-color: white;
    border: 2px solid #999;
    border-radius: 50%;
}

.dott li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
}
/* .header-list li:hover a{
    background-color: rgba(227,251,84,.3);
    
} */
.header-list li:hover a,
.header-list2 li:hover a
{
    color: #fff;
}


/* .header-list2 li:hover a{
    
    
} */
.header-list3 li:hover a{
    color: rgba(255,103,0,.8);
    
}
.aside li:hover a{
    background-color: rgba(255,103,0,.8);
    
}
.dott li:hover a{
    background-color: rgba(255,255,255,.3);
}

/* .dott li:hover{
    border-color: #333;	
} */

