
@-webkit-keyframes fadeInUpS1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpS1 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes s1Title {
  0%{
    transform:translateZ(800px);
  }
  100%{
    transform:translateZ(0px);
  }
}

@keyframes icon1{
  0%{
    transform: translate3d(0,0,0) scale(1);
    z-index: 6;

  }
  25%{
    transform: translate3d(200px,0,0) scale(1.1);
    z-index: 6;
  }
  50%{
    transform: translate3d(388px,-174px,0) scale(1);
    z-index: 5;
  }
  75%{
    transform: translate3d(310px,-233px,0) scale(.9);
    z-index: 5;
  }
  100%{
    transform: translate3d(160px,-295px,0) scale(.8);
    z-index: 5;
  }
}

@keyframes figure2List {
  0%{
    transform: scale(0) rotate(0);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}

@keyframes move2 {
  0%{
    transform:translate(0,0);
  }
  25%{
    transform:translate(-5px,-3px);
  }
  50%{
    transform:translate(-8px,0);
  }
  75%{
    transform:translate(-5px,5px);
  }
  100%{
    opacity:1;
    transform:translate(0,0);
  }
}
