* {
	padding:0;
	margin:0;
}
html, body {
	height:100%;
}
a {
	text-decoration:none;
}
.nav-header {
	position:fixed;
	z-index:99;
	height:90px;
	width:100%;
	left:0;
	top:0;
	background:rgba(0, 0, 0, .6);
}
.head-contain {
	width:1180px;
	height:90px;
	margin:0 auto;
	text-align:center;
}
.top-logo, .top-nav, .top-nav li, .top-right {
	height:90px;
	display:inline-block;
	vertical-align:top;
}
.top-nav {
	margin:0 48px;
}
.top-nav li {
	line-height:90px;
	width:90px;
}
.top-nav li a {
	display:block;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.top-nav li a:hover {
	color:#ee0223;
}
.top-right a {
	display:inline-block;
	font-size:16px;
	text-align:center;
	margin-top:25px;
	border-radius:35px;
}
.top-right a.login {
	width:93px;
	height:38px;
	line-height:38px;
	color:#fad65c;
	border:1px #fad65c solid;
}
.top-right a.login:hover {
	color:#986b0d;
	background:#fad65c;
}
.top-right a.open-vip {
	width:140px;
	height:40px;
	font-weight:700;
	line-height:40px;
	background:#fad65c;
	color:#986b0d;
}
.top-right a.open-vip:hover {
	background:#fddc6c;
}
.index-wrap {
	transition:transform ease 1s;
}
.index-wrap > section {
	position:relative;
}
.screen-area {
	position:absolute;
	width:355px;
	height:175px;
	top:290px;
	left:50%;
	margin-left:-500px;
	background:url(../img/sprites_index.png) no-repeat 0 -258px;
}
.icon {
	position:absolute;
	left:-130px;
	top:13px;
	width:130px;
	height:110px;
	background:url(../img/sprites_index.png) no-repeat;
}
/**��һ��**/
.sec1 {
	height:834px;
	background:url(../img/bg_1.jpg) no-repeat center top;
}
.sec1 .sec1-title {
	position:absolute;
	z-index:5;
	width:770px;
	line-height:999;
	overflow:hidden;
	height:265px;
	left:50%;
	margin-left:-540px;
	top:175px;
	background:url(../img/sprites_index.png) no-repeat;
}
.sec1 .sec1-info {
	position:absolute;
	z-index:5;
	width:424px;
	height:128px;
	left:50%;
	top:380px;
	margin-left:-525px;
	line-height:999;
	overflow:hidden;
	background:url(../img/sprites_index.png) no-repeat -590px -268px;
}
.sec1 .sec1-vip {
	position:absolute;
	z-index:5;
	top:500px;
	left:50%;
	margin-left:-535px;
}
.sec1 .sec1-vip a {
	display:inline-block;
	margin-right:15px;
	border-radius:26px;
	height:50px;
	line-height:50px;
	font-size:20px;
	width:196px;
	text-align:center;
	border:2px #fbd74f solid;
	color:#fbd74f;
}
.sec1 .sec1-vip a:hover {
	background:#fbd74f;
	color:#9c701e;
}
.sec1 .sec1-vip .super-vip {
	background:#fbd74f;
	color:#9c701e;
}
.sec1 .sec1-vip .super-vip:hover {
	background:#fee588;
	border-color:#fee588;
}
.sec1 .figure-1 {
	position:absolute;
	width:720px;
	height:656px;
	left:45%;
	top:170px;
	background:url(../img/figure_1.png) no-repeat 100% 17px;
}
.sec1 .figure-1:after {
	content:'';
	display:block;
	position:absolute;
	width:25px;
	height:25px;
	left:394px;
	top:188px;
	z-index:5;
	background:url(../img/sprites_index.png) no-repeat -526px -450px;
	
}
/**�ڶ���**/
.sec2 {
	height:820px;
	background:url(../img/bg_2.jpg) no-repeat center top;
}
.sec2 .icon-feature {
	background-position:-685px -450px;
}
.sec2 .figure-2 {
	position:absolute;
	z-index:5;
	width:720px;
	height:897px;
	left:45%;
	top:-66px;
	background:url(../img/figure_2.png) no-repeat -427px 155px;
}
.figure-list a {
	position:absolute;
	z-index:5;
	width:100px;
	height:100px;
	left:50%;
	background:url(../img/sprites_function_feature.png) no-repeat;
}
.figure-list a.icon-1 {
	background-position:0 0;
	top:595px;
	margin-left:100px;
}
.figure-list a.icon-2 {
	background-position:0 -110px;
	top:595px;
	margin-left:330px;
}
.figure-list a.icon-3 {
	background-position:0 -220px;
	top:500px;
	margin-left:500px;
}
.figure-list a.icon-4 {
	background-position:0 -330px;
	z-index:1;
	top:365px;
	margin-left:420px;
}
.figure-list a.icon-5 {
	background-position:0 -440px;
	z-index:1;
	top:305px;
	margin-left:250px;
}
.figure-list a.icon-6 {
	background-position:0 -550px;
	z-index:1;
	top:313px;
	margin-left:90px;
}
.figure-list a.icon-7 {
	background-position:0 -880px;
	top:545px;
	margin-left:-90px;
}
.figure-list a.icon-8 {
	background-position:0 -770px;
	top:450px;
	margin-left:-170px;
}
.figure-list a.icon-9 {
	background-position:0 -660px;
	top:350px;
	margin-left:-70px;
}
/**������**/
.sec3 {
	height:779px;
	background:url(../img/bg_3.jpg) no-repeat center top;
}
.sec3 .sec3-area {
	background-position:0 -450px;
}
.sec3 .icon-game {
	background-position:-685px -570px;
}
.figure-3 {
	position:absolute;
	width:527px;
	height:758px;
	left:55%;
	top:2px;
	z-index:4;
	background:url(../img/figure_3.png) no-repeat -666px 100px
}
.figure-3-mask {
	position:absolute;
	left:50%;
	bottom:17px;
	margin-left:100px;
	width:600px;
	height:156px;
	z-index:5;
	background:url(../img/bg_3_mask.png) no-repeat;
}
.figure1-list span {
	display:block;
	position:absolute;
	left:55%;
	z-index:5;
}
.figure1-list .sec3-icon {
	background:url(../img/sprites_game_feature.png) no-repeat;
}
.figure1-list .sec3-icon1 {
	background:url(../img/sprites_game_feature2.png) no-repeat;
}
.figure1-list .icon-monitor {
	width:335px;
	height:300px;
	z-index:6;
	margin-left:-226px;
	top:494px;
}
.figure1-list .icon-character1 {
	width:237px;
	height:285px;
	margin-left:-299px;
	top:380px;
	background-position:-204px -33px;
}
.figure1-list .icon-character2 {
	width:191px;
	height:382px;
	margin-left:-188px;
	top:295px;
	background-position:-426px 0;
}
.figure1-list .icon-character3 {
	width:260px;
	height:385px;
	z-index:4;
	margin-left:-165px;
	top:187px;
	background-position:-382px -227px;
}
.figure1-list .icon-character4 {
	width:337px;
	height:369px;
	margin-left:-120px;
	top:220px;
	background-position:0 -305px;
}
.figure1-list .icon-character5 {
	width:193px;
	height:162px;
	margin-left:70px;
	top:500px;
	background-position:-413px -30px;
}
.figure1-list .icon-shine {
	width:407px;
	height:355px;
	margin-left:-224px;
	top:332px;
	background-position:10px -389px;
}
.figure1-list .icon-car {
	width:147px;
	height:82px;
	margin-left:455px;
	top:627px;
	background-position:0 0;
}
.figure1-list .icon-flame {
	width:207px;
	height:159px;
	z-index:4;
	margin-left:375px;
	top:564px;
	background-position:0 -102px;
}
.sec3 .light {
	position:absolute;
	z-index:10;
	width:1173px;
	height:604px;
	left:50%;
	top:165px;
	margin-left:-400px;
	background:url(../img/sprites_decoration2.png) no-repeat;
}
/**������**/
.sec4 {
	height:818px;
	background:url(../img/bg_4.jpg) no-repeat center top;
}
.sec4 .sec4-area {
	background-position:0 -625px;
}
.sec4 .icon-life {
	background-position:-685px -690px;
}
.sec4 .figure-4 {
	position:absolute;
	left:45%;
	top:-35px;
	width:700px;
	height:864px;
	z-index:5;
	background:url(../img/figure_4.png) no-repeat -562px 160px;
}
.sec4 .figure-4-mask {
	position:absolute;
	left:50%;
	bottom:-13px;
	margin-left:-115px;
	width:750px;
	height:150px;
	z-index:5;
	background:url(../img/bg_4_mask.png) no-repeat;
}
.sec4 .figure2-list {
	position:absolute;
	width:875px;
	height:693px;
	top:92px;
	z-index:5;
	left:50%;
	margin-left:-196px;
}
.figure2-list span {
	display:block;
	position:absolute;
	z-index:5;
	width:150px;
	height:150px;
	background:url(../img/sprites_life_feature.png) no-repeat;
}
.sec4 .icon-watch {
	top:-10px;
	left:225px;
	z-index:4;
	background-position:0 -150px;
}
.sec4 .icon-headset {
	top:45px;
	left:60px;
	z-index:4;
	background-position:0 0;
}
.sec4 .icon-shoe {
	top:370px;
	left:-25px;
	z-index:4;
	background-position:0 -300px;
}
.sec4 .icon-glasses {
	top:525px;
	left:200px;
	background-position:0 -750px;
}
.sec4 .icon-bag {
	top:540px;
	left:500px;
	background-position:0 -900px;
}
.sec4 .icon-perfume {
	top:415px;
	left:690px;
	background-position:0 -1050px;
}
.sec4 .icon-hat {
	top:200px;
	left:700px;
	z-index:4;
	background-position:0 -600px;
}
.sec4 .icon-dress {
	top:45px;
	left:600px;
	z-index:1;
	background-position:0 -450px;
}
/**������**/
.sec5 {
	height:749px;
	background:url(../img/bg_5.jpg) no-repeat center top;
}
.sec5-area {
	background-position:0 -820px;
}
.sec5 .icon-makeup {
	background-position:-685px -810px;
}
.figure-5 {
	position:absolute;
	left:50%;
	top:60px;
	width:570px;
	height:690px;
	z-index:5;
	background:url(../img/figure_5.png) no-repeat;
}
.figure3-list span {
	position:absolute;
	left:50%;
	z-index:5;
	background:url(../img/sprites_makeup_feature.png) no-repeat;
}
.figure3-list .icon-bird {
	width:100px;
	height:110px;
	top:247px;
	margin-left:375px;
}
.figure3-list .icon-babyq {
	width:138px;
	height:134px;
	top:595px;
	margin-left:470px;
	background-position:0 -121px;
}
.figure3-list .icon-bear {
	width:160px;
	height:210px;
	top:480px;
	margin-left:-95px;
	background-position:0 -400px;
}
.figure3-list .icon-qana {
	width:138px;
	height:130px;
	top:590px;
	margin-left:-210px;
	background-position:0 -271px;
}
.figure3-list .icon-dialog1 {
	width:190px;
	height:90px;
	top:400px;
	margin-left:50px;
	background-position:0 -626px;
}
.figure3-list .icon-dialog2 {
	width:285px;
	height:85px;
	top:500px;
	margin-left:300px;
	background-position:0 -740px;
}
/**�ײ�**/
.ui-footer {
	background:#302f37;
	text-align:center;
	height:320px;
}
.ui-footer nav ul {
	margin:60px 0;
}
.ui-footer nav ul, .ui-footer li {
	display:inline-block;
}
.ui-footer li {
	width:100px;
	height:100px;
	margin:0 5px;
	font-size:14px;
}
.ui-footer li a {
	display:block;
	color:#7e7e7e;
	padding-top:85px;
	background:url(../img/sprites_footer.png) no-repeat;
}
.ui-footer li:first-child a {
	background-position:0 0;
}
.ui-footer li:first-child a:hover {
	background-position:-100px 0;
}
.ui-footer li:nth-child(2) a {
background-position:0 -100px;
}
.ui-footer li:nth-child(2) a:hover {
background-position:-100px -100px;
}
.ui-footer li:nth-child(3) a {
background-position:0 -200px;
}
.ui-footer li:nth-child(3) a:hover {
background-position:-100px -200px;
}
.ui-footer li:nth-child(4) a {
background-position:0 -300px;
}
.ui-footer li:nth-child(4) a:hover {
background-position:-100px -300px;
}
.ui-footer li:nth-child(5) a {
background-position:0 -400px;
}
.ui-footer li:nth-child(5) a:hover {
background-position:-100px -400px;
}
.ui-footer li:nth-child(6) a {
background-position:0 -500px;
}
.ui-footer li:nth-child(6) a:hover {
background-position:-100px -500px;
}
.ui-footer li:last-child a {
	background-position:0 -600px;
}
.ui-footer li:last-child a:hover {
	background-position:-100px -600px;
}
.ui-footer p {
	font-size:12px;
	line-height:1.8;
	color:#9d9d9d;
}

